.App {
  text-align: center;
  
}
body {
  background-color: rgb(238, 239, 255);
}

/* p {
  color: black;
} */

/* h4 {
  color: black;
} */


nav {
  background-color: rgb(54, 69, 199);
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
}

.login-input, .addshow-input, .signup-input, .comment-input{
  margin-bottom: 1em;
  width: 20em;
  height: 2em;
}

a {
  color: white;
  padding: 1em;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

/* a:hover {
  text-decoration: underline;
} */

a:active {
  text-decoration: underline;
}

.user:hover {
  background-color: rgb(103, 112, 196);
}
.main-user:hover {
  background-color: rgb(103, 112, 196);
}

.show, .user, .comment {
  padding: 1em;
  border-radius: 1em;
  background-color: rgb(54, 69, 199);
  color: white;
}
.main-user {
  padding: 1em;
  margin: auto;
  border-radius: 1em;
  background-color: rgb(54, 69, 199);
  color: white;
  width: 50%;
}
.show:hover {
  background-color: rgb(103, 112, 196);
}

.main {
  padding-top:1em;
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center
}


.show-container {
  margin-top: 1em;
  text-align: center;
  /* width: 55%; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
} 

.user-container {
  margin-top: 1em;
  text-align: center;
  width: 55%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
} 

.comment-container {
  text-align: left
}

.watcher-container {
  display: flex;

}

.form-container {
  background-color:rgb(54, 69, 199);
  color: white;
  margin-top: 1em;
  text-align: center;
  padding: 2em;
  border-radius: 2em;
}  

.comment {
  margin-top: 1em;
  text-align: left;
  padding: 2em;
} 



h3, h2 {
  text-align: center;
}

.submit-button {
  margin-top: 1em;
  height: 2em;
  width: 17em; 
  font-size: 15px;
  color: white;
  background-color:rgb(93, 106, 223);
  border-radius: 3px;
}

.logout-button, .comment-button {
  height: 2em;
  width: 10em; 
  font-size: 13px;
  color: white;
  background-color:rgb(93, 106, 223);
  border-radius: 3px;
}

.logout-button:hover {
  background-color: rgb(54, 69, 199);
}

.watcher {
  border-radius: 2em;
}

.user-icon {
  border-radius: 3em;
  border: 2px solid white;
}

.user-icon-large {
  border-radius: 6em;
}
.comment-body, .show-info {
  border: 2px solid rgb(93, 106, 223);
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 0.5em;
}
.login-img, .home-img, .show-img {
  border-radius: 2em;
}

.show-img {
  border-radius: 1em;
  border: 2px solid white;
}

.user  {
  padding-top: 1em;
}

.title {
  padding-right: 2em;
}